<button (click)="sort()">Sélectionner un élève de façon aléatoire</button>
<div *ngIf="!isSelected; else other_content">
  <p>personne n'a été séléctionner</p>
</div>
<ng-template #other_content>
  <p>{{ elevesPresent[indexEleveSort].id }}</p>
  <p>
    <strong>le nom de l'élève :</strong>
    {{ elevesPresent[indexEleveSort].name }}
  </p>
  <p>
    <strong>le sex de l'élève :</strong> {{ elevesPresent[indexEleveSort].sex }}
  </p>
  <p>la présence :{{ elevesPresent[indexEleveSort].isPresent }}</p>
</ng-template>
